# Compare Panos
# krpano 1.22


# basic settings
include basicsettings.config
panotype=autodetect,flat
hfov=360
makescenes=true


# output path
outputpath=%INPUTPATH%/comparepanos


# convert spherical/cylindrical to cubical
converttocube=true
converttocubelimit=360x120
converttocubemaxwidth=60000


# multiresolution settings
multires=true
tilesize=512
levels=auto
levelstep=2
maxsize=auto
maxcubesize=auto
stereosupport=true
adjustlevelsizes=true
adjustlevelsizesformipmapping=true


# output images path
tilepath=%OUTPUTPATH%/panos/%BASENAME%.tiles/[c/]l%Al/%Av/l%Al[_c]_%Av_%Ah.jpg


# preview pano settings
preview=true
graypreview=false
previewsmooth=25
previewpath=%OUTPUTPATH%/panos/%BASENAME%.tiles/preview.jpg


# generate thumbnails
makethumb=true
thumbsize=240
thumbpath=%OUTPUTPATH%/panos/%BASENAME%.tiles/thumb.jpg


# xml output
xml=true
xmlpath=%OUTPUTPATH%/comparepanos.xml
xmltemplate=xml/comparepanos.xml
xmltemplate_scene=xml/comparepanos_scenetemplate.xml


# html output
html=true
htmlpath=%OUTPUTPATH%/index.html
htmlviewerpath=%OUTPUTPATH%/krpano.js
htmltemplate=html/embedpano.html


# include testing servers
htmltemplate_additional_file=html/tour_testingserver.exe
htmltemplate_additional_file=html/tour_testingserver_macos+x
