/* Footer.module.css */
.footer {
  background-color: var(--foreground);
  color: #b7c0d3;
  direction: rtl;
  text-align: right;
  padding: 1rem 1.5rem;
  width: 100%;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 2rem;
  border-bottom: 1px solid var(--gray-color);
  padding-bottom: 2rem;
}

.title {
  color: var(--base-accent);
  font-weight: 600;
  margin-bottom: 0.75rem;
  font-size: 1.125rem;
}

.description {
  font-size: 0.875rem;
  margin-bottom: 1.5rem;
  line-height: 1.625;
}

.socialIcons {
  display: flex;
  gap: 1rem;
}

.socialLink {
  transition: color 0.15s ease-in-out;
}

.socialLink:hover {
  color: var(--base-accent);
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.subtitle {
  color: var(--base-accent);
  font-weight: 600;
  margin-bottom: 1rem;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 0.875rem;
  cursor: pointer;
}

.listItem {
  transition: color 0.15s ease-in-out;
}

.listItem:hover {
  color: var(--base-accent);
}

.contactList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 0.875rem;
}

.contactItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.contactIcon {
  width: 1.25rem;
  height: 1.25rem;
  color: #6ee7b7;
  flex-shrink: 0;
}

.bottom {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 0.75rem;
  color: #b1c4d8;
}
  

.bottomLinks {
  display: flex;
  gap: 1.5rem;
  margin-top: 0.5rem;
  justify-content: space-between;
  width: 100%;
}


.bottomLink {
  transition: color 0.15s ease-in-out;
  cursor: pointer;
}

.bottomLink:hover {
  color: var(--base-accent);
}
.author {
  color: var(--base-accent);
  font-weight: bold;
}
.author:hover {
  text-decoration: underline;
}

  @media screen and (max-width: 768px) {
    .container {
      justify-content: flex-start;
    }
    .bottom {
      flex-direction: column;
    }
  }
